<h2>Login</h2>
@if(errorMessage ){
  <div class="error-message">{{ errorMessage }}</div>
}
@if(successMessage){
    <div class="success-message">{{ successMessage }}</div>
}
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" formControlName="email" required>
        @if(loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty ||
        loginForm.controls['email'].touched))
        {
        @if(loginForm.controls['email'].errors?.['required'])
        {
        <div>Email is required</div>
        }
        @else{
        <div>Email must be valid</div>
        }
        }
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" formControlName="password" required>
        @if(loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty ||
        loginForm.controls['password'].touched))
        {
        @if (loginForm.controls['password'].errors?.['required']) {<div>Password is required</div>}
        }

    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
    <p>
        Not registered? <a routerLink="/register">Create an account</a>
    </p>
</form>
<!-- <h2>Login</h2>
@if(errorMessage ){
    <div class="error-message">{{ errorMessage }}</div>
}
<form [formGroup]="loginForm" (ngSubmit)="login()">
  </form>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" formControlName="email" required>
        @if(loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty ||
        loginForm.controls['email'].touched))
        {
        @if(loginForm.controls['email'].errors?.['required'])
        {
        <div>Email is required</div>
        }
        @else{
        <div>Email must be valid</div>
        }
        }
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" formControlName="password" required>
        @if(loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty ||
        loginForm.controls['password'].touched))
        {
        @if (loginForm.controls['password'].errors?.['required']) {<div>Password is required</div>}
        }

    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
    <p>
        Not registered? <a routerLink="/register">Create an account</a>
    </p>
</form> -->