<div class="dialog-title-wrapper" style="text-align:center">
  <h2 class="custom-dialog-title" style="margin-bottom:0;">
    ✨ הוספת שיעור חדש למסע הלמידה!
  </h2>
  <div class="dialog-subtitle" style="margin-top:0;">
    הוסף שיעור, שתף ידע, והצע לתלמידים עוד צעד קדימה.
  </div>
</div>
<form class="custom-form">
  <div class="custom-float-label-group">
    <input [(ngModel)]="title" name="title" required class="custom-input" [ngClass]="{'filled': title}" />
    <label [class.floated]="title">שם השיעור</label>
    <div class="custom-error" *ngIf="!title">
      חובה להזין שם שיעור
    </div>
    <div class="custom-error" *ngIf="title && title.length < 3">
      שם השיעור חייב להכיל לפחות 3 תווים
    </div>
  </div>
  <div class="custom-float-label-group">
    <textarea [(ngModel)]="content" name="content" required class="custom-textarea" [ngClass]="{'filled': content}"></textarea>
    <label [class.floated]="content">תוכן השיעור</label>
    <div class="custom-error" *ngIf="!content">
      חובה להזין תוכן שיעור
    </div>
    <div class="custom-error" *ngIf="content && content.length < 10">
      תוכן השיעור חייב להכיל לפחות 10 תווים
    </div>
  </div>
  <div class="form-actions">
  <button type="button" class="custom-btn add" (click)="onAdd()" [disabled]="!title || !content || title.length < 3 || content.length < 10">צור שיעור</button><button type="button" class="custom-btn cancel" (click)="onCancel()">ביטול</button>
</div>
</form>

